<h1>New comment</h1>
<%= form_with model: [@post, @comment], url: user_post_comments_path(@post.author, @post), method: :post do |f| %>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit "Create Comment" %>
    </div>
  <% end %>
  
  