<h1 class="form-title">Add New Comment</h1>
<div class="new-post-title">
<%= form_with model: [@post, @comment], url: user_post_comments_path(@post.author, @post), method: :post do |f| %>
  <div class="new-post-title">
    <%= f.label :text, class: 'label' %><br>
    <%= f.text_field :text, class: 'text-input' %>
  </div>

  <%= f.submit "Add Comment", class: 'submit-button add' %>
<% end %>
</div>
