body {
    background-color: rgb(165 139 165);
    margin: 0;
}
 
header {
    color: rgb(233 213 81);
    text-align: center;
    margin-top: 2vw;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
}

h1 {
    height: 2.5vw;
}

.user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vw;
}

h2 {
    margin-top: 1vw;
    height: 1.5vw;
    text-align: center;
    color: rgb(233 213 81);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8vw;
}

.users-list {
    list-style: none;
    padding: 0;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 1vw;
}

.image {
    width: 5.5vw;
    height: 5.5vw;
    border: 3px silver solid;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin-top: 1vw;
    margin-left: 1vw;
    background-color: rgb(116 84 116);
}

.name {
    width: 55vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px silver solid;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin-top: 1.4vw;
    margin-left: 2vw;
    background-color: rgb(116 84 116);
}

.username {
    width: 30vw;
    height: 5vw;
    font-size: 3vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    color: rgb(233 213 81);
}

.posts-counter {
    width: 20vw;
    height: 5vw;
    margin: 0;
    font-size: 1.5vw;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-right: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: rgb(233 213 81);
}

.bio {
  width: 62vw;
  height: auto;
  border: 3px silver solid;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  border-radius: 5px;
  background-color: rgb(116 84 116);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  color: rgb(233 213 81);
  font-size: 2vw;
  padding-left: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-left: 1vw;
}

.posts-container {
    width: 95vw;
    height: auto;
    margin-bottom: 1vw;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.post-info {
  width: 63vw;
  height: 8vw;
  border: 3px silver solid;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  border-radius: 5px;   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2vw;
  background-color: rgb(116 84 116);
  margin-left: 16vw;
}

.post-id {
  margin-left: 0.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: rgb(233 213 81);
  font-size: 2vw;
  height: 0.5vw;
  margin-top: 0.3vw;
}

.post-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: rgb(233 213 81);
    font-size: 1.5vw;
    margin-left: 0.5vw;
    height: 2.5vw;
    margin-bottom: 5vw;
    
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 34vw;
    margin-top: -2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(233 213 81);
    font-size: 1vw;
    gap: 1vw;
    align-items: baseline;
    width: 30vw;
}

.all-posts-button {
  margin-top: 7vw;
  text-align: center;
  margin-bottom: 10vw;
}

#posts-button {
    background-color: rgb(233 213 81);
    color: rgb(243 236 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    border: 0;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 1vw;
}

.comment-info {
    width: 1510px;
    height: auto;
    border: 3px silver solid;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    border-radius: 5px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    background-color: rgb(116 84 116);
    margin-left: 230px;
    padding-left: 20px;
  }
  
  .available {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(233 213 81);
    font-size: 20px; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .comment-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: rgb(233 213 81);
    font-size: 15px;
    margin-left: 5px;
  }

  .pagination {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  #pagination-button {
      width: 400px;
      height: 80px;
      background-color: rgb(233 213 81);
      color: rgb(243 236 236);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 600;
      font-size: 35px;
      border: 0;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .thepost-container {
    width: 1530px;
    height: auto;
    border: 3px silver solid;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    border-radius: 5px;   
    margin-top: 30px;
    background-color: rgb(116 84 116);
    margin-left: 230px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .thepost {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 40px;
  }

  .thepost-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .links {
    text-decoration: none;
    cursor: pointer;
    color: rgb(233 213 81);
  }

  .post-link {
    text-decoration: none;
  }

  .new-post {
    text-align: right;
    margin-right: 260px;
    margin-top: 5px;
  }

  .new-post-button {
    background-color: rgb(233 213 81);
    color: rgb(243 236 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 25px;
    border: 0;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  border-radius: 5px;
  cursor: pointer; 
  text-decoration: none;
  padding: 20px;
  }

.form-title {
    margin-top: 2vw;
    height: 50vw;
    text-align: center;
    color: rgb(233 213 81);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-input {
  height: 2vw;
  font-size: 1.2vw;
  padding-left: 0.5vw;
  border-radius: 5px;
  margin-bottom: 0.5vw;
}

.text-input {
  width: 30vw;
  height: 2vw;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
}

.label {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.submit-button {
  width: 12vw;
  height: 4vw;
  background-color: rgb(233 213 81);
  color: rgb(243 236 236);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 2vw;
  border: 0;
box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
border-radius: 5px;
cursor: pointer;  
margin-top: 3vw;
}

.new-post-title {
  margin-top: 20px;
}

.comments-likes {
  text-align: right;
  margin-left: 100px;
  width: 1665px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;  
}

.new-comment-button {
  background-color: rgb(233 213 81);
  color: rgb(243 236 236);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 25px;
  border: 0;
box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
border-radius: 5px;
cursor: pointer; 
text-decoration: none;
padding: 20px;
}

.like-button {
  width: 70px;
  height: 70px;
  font-size: 70px;
  margin-top: -25px;
  border: 0;
  background-color: rgb(165 139 165);
  margin-right: 40px;
  cursor: pointer;
}

img {
  width: 5.5vw;
  height: 5.5vw;
}

.register {
  margin-bottom: 2vw;
}

.signup {
  font-size: 1.5vw;
}

.login {
  width: 25vw;
}

.input-height {
  height: 2vw;
  margin-top: 3vw;
  margin-bottom: 4vw;
}

.checkbox {
  width: 1vw;
  height: 1vw;
}

.signin {
  margin-top: -5vw;
}

.delete-container {
  width: 7vw;
  height: 1.4vw;
  margin-bottom: 2vw;
}

.delete-button {
	background-color: rgb(233 213 81);
    color: rgb(243 236 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 0.8vw;
    border: 0;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  border-radius: 5px;
  cursor: pointer; 
  text-decoration: none;
  padding: 0.5vw;
}

.comment {
  font-size: 12px;
  font-weight: 600;
  width: 150px;  
  margin-right: 20px;
  margin-bottom: 15px;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}